.app-container {
  height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 1rem;
}

.timeline-container {
  height: 100%;
  width: 95%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: auto;
}

.navbar {
  display:flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  
}
