.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color:antiquewhite;
}

.container2 {
	width: 100%;
	background-color:rgb(88, 88, 86);
}

.navbar{
	display: flex;
	justify-content: center;
}

.title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
}

.editorContainer {
	width: 100%;
	height: 100%;
	display: flex;
}

.splitContainer {
	width:100%;
	height: 100%;
	padding: 2em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


